
  a{cursor: pointer;
}

.forum-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #392C46;
    align-items: flex-start;
  }
 
 .forum-logo {
    width: 60px;
    margin-right: auto;
  }
  .big-search-container {
    height: auto;
    width: 60% ;
    margin-right: auto;
    margin-left: auto;

  }
  .search-container {

    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    height: 50px; 
    width: 100% ;
  }
  
  .search-container img{
    margin-left: 10px;
    width: 45px;
  }
  
  .search-input {
    font-size: 18px;
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    padding: 0px 10px;
  }
  .CREATEpost{
    margin-top: 0px;
  }
  .create-post-btn {
    margin-top: 0px;
    background-color: transparent;
    color: #fff;
    border: none;
    height: 50px;
    border-radius: 30px;
  
  }
  .create-post-btn  img{
    height: 50px;
    cursor: pointer;
  }
  
  .dropdown-button {
    margin-top: 0px;
    font-size: 18px;
    font-weight: 400;
    background-color: #ffffff; /* Фон кнопки 162 220 88*/
    color: black; /* Цвет текста */
    cursor: pointer;
    border: none;
    height: 50px;
    border-radius: 30px;
}

.dropdown-button:hover {
  color: black; 
}
.dropdown-button:active {
    /* background-color: #5b6d43;  */
    background-color: #A2DC58;
    color: black; 
}
  .profile-btn{
    background-color: transparent;
    border-radius: 30px;
    cursor: pointer;
    height: 50px;
    width: 55px;
    border: none;
  }
  .profile-btn img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .profile-icon {
    width: 50px;
    height: 50px;
  }
  
  .forum-content {
    display: flex;
    padding-top: 20px;
  }


  ul{
    padding: 0px;
  }


  .user-posts {
    flex: 3;
    padding: 20px;
    padding-top: 0px;
  
  }
  
  .basic-btn{
    border-radius: 20px;
    height: 35px;
    background-color: #fff;
    border-color: #000;
    border-width: 2px;
  }

  .basic-btn img{
    width: 20px;
    height: 20px;
  }
  .basic-btn img:active{
    color: #fff;
  }

  .textReply{
    margin-left: 5px;
    color: #000;
  }
  
