.pro-input{
    background-color: #fff;
    border-radius: 20px;
    height: 45px;
color: black;

}
.inputs{
    background-color: #fff;
    border-radius: 20px;
    height: 45px;
}

.pro-button{
    border-radius: 20px;
    height: 35px;
    width: auto;
    background-color: #fff;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
}
.pro-button:hover{
    background-color: #A2DC58;
}
.sec-profile{
    background-color: rgb(95 72 115);
}
.danger-button:hover{
    background-color: #e63f3f;
color: #fff;
}