#email{
    background-color: transparent;
}
.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    background: #fff;
    width: 600px;
    padding-bottom: 30px;
    border-radius: 10px;
    justify-content: center;
    /* justify-items: center;
    align-items: center; */
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: black;
    font-size: 48px;
    font-weight: 700;
}

.underlineFRONT{
    width: 100px;
    height: 7px;
    background: #A2DC58;
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;  
    border-radius: 6px;
}

.input img{
    margin: 0px 30px;
}

.input input{
    height: 50px;
    width: 90%;
    background: transparent;
    border: none;
    outline: none;
    /* color: #797979; */
    font-size: 19px;
}
.goLogin{
    padding-top: 20px;
}

.goLogin a{
    margin-top: 10px;
    padding-left: 60px;
    margin-top: 17px;
    color: #797979;
    font-size: 18px;
    outline: none;
  text-decoration: none;
}

a:hover{
    cursor: pointer;
    color: #A2DC58;
}

.submit-container{
    /* padding-left: 60px; */
    justify-content: center;
    display: flex;
    gap: 30px;
    margin: 35px auto;
box-shadow: #797979;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #392C46;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}